@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Expletus+Sans:ital,wght@1,400;1,500;1,600&family=Inder&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&family=Ropa+Sans&family=Saira+Semi+Condensed:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #000;
}

li {
  list-style: none;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2b2d42;
}

a:hover {
  color: rgb(27, 129, 107);
  transform: scale(1, 1);
  box-shadow: 0px 0px 10px #666;
  border-radius: 2rem;
  cursor: pointer;
}

h1 {
  font-family: "Genos", sans-serif;
}

h5 {
  font-weight: 900;
  color: #bcc6d4;
  font-size: 2rem;
  font-family: "Genos", sans-serif;
}

h5 p {
  font-size: 2rem;
}

.container__zonas {
  margin-top: 3rem;
  padding: 1rem;
}

.container__zonas--titulo {
  color: rgb(185, 0, 0);
  font-family: "Michroma", sans-serif;
  text-align: center;
  margin: 4rem;
  font-size: 3rem;
  font-weight: 800;
  animation: zoomOut 2s ease 2s 1 alternate-reverse both;
}

/*ANIMACION ZOOM*/

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.row {
  margin-top: 3rem;
}

.row p {
  font-family: "Genos", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-family: "Genos", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 3rem;
}

.texto__nosotros {
  font-family: "Genos", sans-serif;
  color: #140e0e;
  text-align: center;
  font-size: 2rem;
  animation: slideOutLeft 2s ease 2s 1 alternate-reverse both;
}

/*ANIMACION IZQUIERDA-DERECHA*/

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.col-sm-6 img {
  border-radius: 2rem;
  width: 95%;
  margin-left: 2.5rem;
}

.container__servicios {
  text-align: center;
  font-family: "Genos", sans-serif;
  border: 10px solid #666;
  margin-top: 2rem;
}

.container__servicios P {
  font-size: 2rem;
  color: #2c0d0a;
}

.galeria__servicios {
  overflow: hidden;
  width: 100%;
  padding: 100px;
}

/*FOOTER*/

footer {
  margin-top: 2rem;
  background-color: #bcc6d4;
  color: #4b0606;
}
