* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

header {
  border-bottom: 1px solid #000;
}

.navbar-brand {
  opacity: 0.7;
}

a {
  font-size: $size1-5;
  text-decoration: none;
  color: #2b2d42 !important;
}
a:hover {
  color: rgb(111, 211, 116) !important;
  transform: scale(1, 1);
  box-shadow: 0px 0px 10px #666;
  border-radius: $size2;
  cursor: pointer;
}

li {
  list-style: none;
}

h1 {
  font-family: $textstyle;
  font-size: $size3;
}

h2 {
  font-family: $textstyle;
  color: #160505;
  text-align: center;
  font-size: $size3;
}

p {
  font-family: $headingStyle;
  font-size: $size1-5;
  font-weight: 600;
  padding: $size2;
}

.container__zonas {
  margin-top: $size3;
  padding: $size1;
}

.container__zonas--titulo {
  color: rgb(185, 0, 0);
  font-family: $headingStyle;
  text-align: center;
  margin: 4rem;
  font-size: $size3;
  font-weight: 800;
  animation: zoomOut 2s ease 2s 1 alternate-reverse both;
}

.texto__nosotros {
  font-family: $headingStyle;
  color: #140e0e;
  text-align: center;
  font-size: $size1-5;
  animation: slideOutLeft 2s ease 2s 1 alternate-reverse both;
}

.nosotros__socio {
  img {
    border-radius: $size2;
    width: 100%;
  }
}
.comentario__socio {
  background-color: rgb(231, 243, 231);
  p {
    color: rgb(15, 14, 14);
    padding: $size2;
  }
}

/*SECCION PRODUCTOS*/

.galeria {
  img {
    width: 100%;
  }
}

.col-md-4 {
  img {
    width: 100%;
  }
}

/*SECCION SERVICIOS*/

.container__servicios {
  margin: $size2;
}

.flecha {
  img {
    width: 10%;
  }
}

/*GALERIA DE IMAGENES*/

.galeria__servicios {
  img {
    width: 100%;
  }
}
.galeria__servicios img:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
  cursor: pointer;
}

form {
  margin-top: $size1;
  background-color: rgb(247, 247, 247);
}
.titulo__formulario {
  margin-top: $size3;
}

.contacto__whatsapp {
  img {
    width: 100%;
  }
}

.seccion__mapa {
  border-top: 1px black;

  .map {
    padding: $size2;
    iframe {
      width: 100%;
    }
  }
}

/*FOOTER*/

footer {
  margin-bottom: 0;
  background-color: rgb(202, 200, 200);
  .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo__redes img {
    width: 60%;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .container__zonas--titulo {
    margin: 0;
    font-size: $size2;
  }

  p {
    font-size: $size1-5;
    padding: $size1;
  }

  .col-md-4 img {
    display: block;
    margin: auto;
  }
  .page-banner .col-lg-6 {
    text-align: center;
  }
  .img-place img {
    width: 100%;
  }
  .comentario {
    border-top: 1px solid;
    margin-top: $size2;
    padding-top: 1rem;
  }
  .flecha {
    img {
      width: 50%;
    }
  }

  footer .col-md-4 {
    text-align: center;
    display: block;
  }
  footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
