* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

header {
  border-bottom: 1px solid #000;
}

/*NAV BAR*/

.navbar-brand {
  opacity: 0.7;
}

li {
  list-style: none;
}

h1 {
  font-family: "Genos", sans-serif;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2b2d42;
}
a:hover {
  color: rgb(27, 129, 107);
  transform: scale(1, 1);
  box-shadow: 0px 0px 10px #666;
  border-radius: 2rem;
  cursor: pointer;
}

/*END NAV BAR*/

.container__zonas {
  margin-top: 3rem;
  padding: 1rem;
}

.container__zonas--titulo {
  color: rgb(185, 0, 0);
  font-family: "Michroma", sans-serif;
  text-align: center;
  margin: 4rem;
  font-size: 3rem;
  font-weight: 800;
  animation: zoomOut 2s ease 2s 1 alternate-reverse both;
}

h2 {
  font-family: "Genos", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 3rem;
}

.texto__nosotros {
  font-family: "Genos", sans-serif;
  color: #140e0e;
  text-align: center;
  font-size: 2rem;
  animation: slideOutLeft 2s ease 2s 1 alternate-reverse both;
}

.col-sm-6 img {
  border-radius: 2rem;
  width: 95%;
  margin-left: 2.5rem;
}

.galeria__servicios {
  overflow: hidden;
  width: 100%;
  padding: 100px;
  color: red;
}

.col-md-4 img {
  width: 80%;
}

.container__servicios {
  text-align: center;
  font-family: "Genos", sans-serif;
  border: 10px solid #666;
  margin-top: 2rem;

  P {
    font-size: 2rem;
    color: #2c0d0a;
  }
}

.row {
  margin-top: 3rem;

  p {
    font-family: "Genos", sans-serif;
    color: #000000;
    text-align: center;
    font-size: 2rem;
  }
}

h5 {
  font-weight: 900;
  color: #bcc6d4;
  font-size: 2rem;
  font-family: "Genos", sans-serif;

  p {
    font-size: 2rem;
  }
}

.titulo__formulario {
  margin-top: 3rem;
}

/*FOOTER*/

footer {
  margin-bottom: 0;
  background-color: $primary;
}

/*END FOOTER*/
