$background: rgb(231, 231, 231);
$primary: rgb(177, 129, 129);
$headingStyle: "Be Vietnam Pro", sans-serif;
$textstyle: "Genos", sans-serif;
$size1: 1rem;
$size1-5: 1.5rem;
$size2: 2rem;
$size3: 3rem;
