@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Expletus+Sans:ital,wght@1,400;1,500;1,600&family=Inder&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&family=Ropa+Sans&family=Saira+Semi+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Expletus+Sans:ital,wght@1,400;1,500;1,600&family=Fredericka+the+Great&family=Inder&family=Michroma&family=Wallpoet&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
}

header {
  border-bottom: 1px solid #000;
}

.navbar-brand {
  opacity: 0.7;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2b2d42 !important;
}

a:hover {
  color: #6fd374 !important;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-box-shadow: 0px 0px 10px #666;
          box-shadow: 0px 0px 10px #666;
  border-radius: 2rem;
  cursor: pointer;
}

li {
  list-style: none;
}

h1 {
  font-family: "Genos", sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: "Genos", sans-serif;
  color: #160505;
  text-align: center;
  font-size: 3rem;
}

p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
}

.container__zonas {
  margin-top: 3rem;
  padding: 1rem;
}

.container__zonas--titulo {
  color: #b90000;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
  margin: 4rem;
  font-size: 3rem;
  font-weight: 800;
  animation: zoomOut 2s ease 2s 1 alternate-reverse both;
}

.texto__nosotros {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #140e0e;
  text-align: center;
  font-size: 1.5rem;
  animation: slideOutLeft 2s ease 2s 1 alternate-reverse both;
}

.nosotros__socio img {
  border-radius: 2rem;
  width: 100%;
}

.comentario__socio {
  background-color: #e7f3e7;
}

.comentario__socio p {
  color: #0f0e0e;
  padding: 2rem;
}

/*SECCION PRODUCTOS*/
.galeria img {
  width: 100%;
}

.col-md-4 img {
  width: 100%;
}

/*SECCION SERVICIOS*/
.container__servicios {
  margin: 2rem;
}

.flecha img {
  width: 10%;
}

/*GALERIA DE IMAGENES*/
.galeria__servicios img {
  width: 100%;
}

.galeria__servicios img:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

form {
  margin-top: 1rem;
  background-color: #f7f7f7;
}

.titulo__formulario {
  margin-top: 3rem;
}

.contacto__whatsapp img {
  width: 100%;
}

.seccion__mapa {
  border-top: 1px black;
}

.seccion__mapa .map {
  padding: 2rem;
}

.seccion__mapa .map iframe {
  width: 100%;
}

/*FOOTER*/
footer {
  margin-bottom: 0;
  background-color: #cac8c8;
}

footer .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logo__redes img {
  width: 60%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .container__zonas--titulo {
    margin: 0;
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .col-md-4 img {
    display: block;
    margin: auto;
  }
  .page-banner .col-lg-6 {
    text-align: center;
  }
  .img-place img {
    width: 100%;
  }
  .comentario {
    border-top: 1px solid;
    margin-top: 2rem;
    padding-top: 1rem;
  }
  .flecha img {
    width: 50%;
  }
  footer .col-md-4 {
    text-align: center;
    display: block;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

/*ANIMACION ZOOM*/
@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale2d(0.2, 0.2, 0.2);
    transform: scale2d(0.2, 0.2, 0.2);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale2d(0.2, 0.2, 0.2);
    transform: scale2d(0.2, 0.2, 0.2);
  }
  to {
    opacity: 0;
  }
}

/*ANIMACION IZQUIERDA-DERECHA*/
@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
/*# sourceMappingURL=custom.css.map */